/* USER VARIABLES SECTION */

:root {
	--accent: #C6B166;
	--text: #333;
	--heading: #27302E;
	--regular-text: 16px;
	--lineheight: 1.75em;
	--userfont: opensans-st, sans-serif;
	--headingfont: raleway-st, sans-serif;
	--systemfont: -apple-system, BlinkMacSystemFont, Arial, sans-serif;
}

/* BOOTSTRAP SETTINGS SECTION */

/* gutter 20px (10px + 10px). Comment this code for default gutter start at 1.5rem (24px) wide. */
.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl { --bs-gutter-x: .625rem; }
.row, .row > * { --bs-gutter-x: 1.25rem; }

/* FONTS LOAD SECTION */

@font-face { src: url("../fonts/raleway-regular.woff2") format("woff2"); font-family: "raleway-st"; font-weight: 400; font-style: normal; }
@font-face { src: url("../fonts/raleway-medium.woff2") format("woff2"); font-family: "raleway-st"; font-weight: 500; font-style: normal; }
@font-face { src: url("../fonts/raleway-semibold.woff2") format("woff2"); font-family: "raleway-st"; font-weight: 600; font-style: normal; }
@font-face { src: url("../fonts/raleway-bold.woff2") format("woff2"); font-family: "raleway-st"; font-weight: 700; font-style: normal; }
@font-face { src: url("../fonts/opensans-regular.woff2") format("woff2"); font-family: "opensans-st"; font-weight: 400; font-style: normal; }

/* GENERAL CSS SETTINGS */

::placeholder { color: #666; }
::selection { background-color: var(--accent); color: #fff; }
input, textarea { outline: none; }
input:focus:required:invalid, textarea:focus:required:invalid { border-color: red; }
input:required:valid, textarea:required:valid { border-color: green; }

* {
	transition: .3s;
}

html, body {
	height: 100%;
}
body {
	font-family: var(--userfont);
	font-size: var(--regular-text);
	line-height: var(--lineheight);
	color: var(--text);
	min-width: 320px;
	position: relative;
	overflow-x: hidden;
}
a {
	color: var(--text);
	font-feature-settings: 'pnum' on, 'lnum' on;
	text-decoration: none;
}
a:hover {
	color: var(--accent);
}

/* USER STYLES */

.image {
	max-width: 100%;
	margin-bottom: var(--bs-gutter-x);
	border-radius: 4px;
}

.main {
	padding: 50px 0 90px;
	height: 100%;
}
.section {
	height: 100%;
}

.menu {
	list-style-type: none;
}
.menu .menu__item {
	display: inline-block;
}
.menu .menu__item:not(:last-child) {
	margin-right: 35px;
}

.callback .callback__wrapper {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}
.callback .callback__phone {
	font-family: var(--headingfont);
	font-weight: 500;
	font-size: 1.5rem;
	color: var(--heading);
}

.section__content {
	height: 100%;
}
.section__soc .section__soc-items {
	display: flex;
	flex-direction: column;
}
.section__soc .section__soc-items .soc-item:hover {
	transform: scale(1.1);
}
.section__soc .section__soc-items .soc-item:not(:last-child) {
	margin-bottom: 25px;
}
