/* USER VARIABLES SECTION */

:root {
	--accent-text: #C6B166;
	--accent: #D3BE73;
	--text: #333;
	--heading: #27302E;
	--regular-text: 16px;
	--lineheight: 1.75em;
	--userfont: opensans-st, sans-serif;
	--headingfont: raleway-st, sans-serif;
	--systemfont: -apple-system, BlinkMacSystemFont, Arial, sans-serif;
}

/* BOOTSTRAP SETTINGS SECTION */

/* gutter 20px (10px + 10px). Comment this code for default gutter start at 1.5rem (24px) wide. */
.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl { --bs-gutter-x: .625rem; }
.row, .row > * { --bs-gutter-x: 1.25rem; }

/* FONTS LOAD SECTION */

@font-face { src: url("../fonts/raleway-regular.woff2") format("woff2"); font-family: "raleway-st"; font-weight: 400; font-style: normal; }
@font-face { src: url("../fonts/raleway-medium.woff2") format("woff2"); font-family: "raleway-st"; font-weight: 500; font-style: normal; }
@font-face { src: url("../fonts/raleway-semibold.woff2") format("woff2"); font-family: "raleway-st"; font-weight: 600; font-style: normal; }
@font-face { src: url("../fonts/raleway-bold.woff2") format("woff2"); font-family: "raleway-st"; font-weight: 700; font-style: normal; }
@font-face { src: url("../fonts/opensans-regular.woff2") format("woff2"); font-family: "opensans-st"; font-weight: 400; font-style: normal; }

/* GENERAL CSS SETTINGS */

::placeholder { color: #666; }
::selection { background-color: var(--accent); color: #fff; }
input, textarea { outline: none; }
input:focus:required:invalid, textarea:focus:required:invalid { border-color: red; }
input:required:valid, textarea:required:valid { border-color: green; }

* {
	box-sizing: border-box;
}
a, button, ::after {
	transition: .3s;
}

html, body {
	height: 100%;
}
body {
	font-family: var(--userfont);
	font-size: var(--regular-text);
	line-height: var(--lineheight);
	color: var(--text);
	min-width: 320px;
	position: relative;
	overflow-x: hidden;
}
a {
	color: var(--text);
	font-feature-settings: 'pnum' on, 'lnum' on;
	text-decoration: none;
}
a:hover {
	color: var(--accent-text);
}
h1, h2, h3, h4, h5, h6 {
	color: var(--heading);
	margin-bottom: 1.25rem;
}
button {
	border: 2px solid var(--accent);
	background-color: #f9f9f9;
	color: var(--text);
	font-family: var(--headingfont);
	font-weight: 700;
	font-size: 18px;
	padding: 27px 55px;
	text-transform: uppercase;
	letter-spacing: 2px;
}
button:hover {
	background-color: var(--accent);
	color: #fff;
}

/* USER STYLES */

.image {
	max-width: 100%;
	margin-bottom: var(--bs-gutter-x);
	border-radius: 4px;
}

.main {
	padding: 50px 0 90px;
	background-color: #f9f9f9;
}

.menu {
	list-style-type: none;
}
.menu .menu__item {
	display: inline-block;
}
.menu .menu__item:not(:last-child) {
	margin-right: 35px;
}

.callback .callback__wrapper {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}
.callback .callback__phone {
	font-family: var(--headingfont);
	font-weight: 500;
	font-size: 1.5rem;
	color: var(--heading);
}

.section__soc .section__soc-items {
	display: flex;
	flex-direction: column;
}
.section__soc .section__soc-items .soc-item:hover {
	transform: scale(1.1);
}
.section__soc .section__soc-items .soc-item:not(:last-child) {
	margin-bottom: 25px;
}

.furni-bg {
	height: 825px;
	margin-left: 15px;
}
.furni-bg .furni-bg__slide {
	position: relative;
}
.furni-bg .furni-bg__slide .furni-bg__img {
	width: 590px;
	height: 100%;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.furni-text {
	display: flex;
	flex-direction: column;
	position: relative;
	top: 85px;
	right: calc(8.33333333% * 2 + var(--bs-gutter-x) * 2);
	height: 790px;
}
.furni-text .furni-text__slide {
	display: flex;
	flex-direction: column;
}
.furni-text .furni-text__slide .furni-text__content {
	padding: 60px 55px;
	background-color: #fff;
	margin-bottom: 65px;
}
.furni-text .furni-text__slide .furni-text__content .heading {
	font-family: var(--headingfont);
	font-weight: 400;
	font-size: 3.5rem;
}
.furni-text .furni-text__slide .furni-text__content .desc {
	font-size: 1.25rem;
	width: 80%;
}
.furni-text .furni-text__slide .furni-text__button {
	align-self: flex-end;
}
.furni-bg__nav {
	display: flex;
	flex: 0 0 100px;
	width: 200px;
	position: relative;
}
.furni-bg__nav > div {
	width: 100px;
	height: 100px;
	position: relative;
	left: 0;
	top: 0;
	background-color: #fff;
}
.furni-bg__nav .prev::after, .furni-bg__nav .next::after {
	content: '';
	height: 16px;
	width: 46px;
	background-color: var(--accent);
}
.furni-bg__nav .prev::after {
	-webkit-mask-image: url(../img/arrow-left.svg);
	mask-image: url(../img/arrow-left.svg);
}
.furni-bg__nav .next::after {
	-webkit-mask-image: url(../img/arrow-right.svg);
	mask-image: url(../img/arrow-right.svg);
}
.furni-bg__nav .prev:hover::after, .furni-bg__nav .next:hover::after {
	background-color: var(--heading);
}