/* VARIABLES SECTION */

:root {
	--accent-text: #C6B166;
	--accent: #D3BE73;
	--text: #333;
	--heading: #27302E;
	--gray: #6a716f;
	--regular-text: 16px;
	--lineheight: 1.75em;
	--userfont: opensans-st, sans-serif;
	--headingfont: raleway-st, sans-serif;
	--systemfont: -apple-system, BlinkMacSystemFont, Arial, sans-serif;
}

/* BOOTSTRAP SETTINGS SECTION */

/* gutter 20px (10px + 10px). Comment this code for default gutter start at 1.5rem (24px) wide. */
.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl { --bs-gutter-x: .625rem; }
.row, .row > * { --bs-gutter-x: 1.25rem; }

/* FONTS LOAD SECTION */

@font-face { src: url("../fonts/raleway-regular.woff2") format("woff2"); font-family: "raleway-st"; font-weight: 400; font-style: normal; }
@font-face { src: url("../fonts/raleway-medium.woff2") format("woff2"); font-family: "raleway-st"; font-weight: 500; font-style: normal; }
@font-face { src: url("../fonts/raleway-semibold.woff2") format("woff2"); font-family: "raleway-st"; font-weight: 600; font-style: normal; }
@font-face { src: url("../fonts/raleway-bold.woff2") format("woff2"); font-family: "raleway-st"; font-weight: 700; font-style: normal; }
@font-face { src: url("../fonts/opensans-regular.woff2") format("woff2"); font-family: "opensans-st"; font-weight: 400; font-style: normal; }
@font-face { src: url("../fonts/opensans-bold.woff2") format("woff2"); font-family: "opensans-st"; font-weight: 700; font-style: normal; }

/* SWIPER CSS SETTINGS */

:root {
	--swiper-theme-color: var(--accent);
	--swiper-pagination-bullet-inactive-color:var(--gray);
	--swiper-pagination-bullet-horizontal-gap: 5px;
	--swiper-pagination-bullet-size: 10px;
}
.swiper-pagination-bullet {
	background: var(--gray);
	opacity: .15;
	transition: background .3s, opacity .3s;
}
.swiper-pagination-bullet.swiper-pagination-bullet-active {
	background: var(--accent);
	opacity: 1;
}

/* GENERAL CSS SETTINGS */

::placeholder { color: #666; }
::selection { background-color: var(--accent); color: #fff; }
input, textarea { outline: none; }
input:focus:required:invalid, textarea:focus:required:invalid { border-color: red; }
input:required:valid, textarea:required:valid { border-color: green; }

* {
	box-sizing: border-box;
}
html, body, main {
	height: 100%;
}
body {
	font-family: var(--userfont);
	font-size: var(--regular-text);
	line-height: var(--lineheight);
	color: var(--text);
	background-color: #f9f9f9;
	min-width: 320px;
	position: relative;
	overflow-x: hidden;
}
section.section {
	margin-bottom: 160px;
}
a {
	color: var(--text);
	text-decoration: none;
	font-feature-settings: 'pnum' on, 'lnum' on;
}
a:hover {
	color: var(--accent-text);
}
h1, h2, h3, h4, h5, h6 {
	color: var(--heading);
	font-family: var(--headingfont);
	font-weight: 400;
	margin-bottom: 30px;
}
button {
	border: 2px solid var(--accent);
	background-color: #f9f9f9;
	color: var(--text);
	font-family: var(--headingfont);
	font-weight: 700;
	font-size: 18px;
	padding: 27px 55px;
	text-transform: uppercase;
	letter-spacing: 2px;
}
button:hover {
	background-color: var(--accent);
	color: #fff;
}
a, button, ::before, ::after {
	transition: .3s;
}
img {
	width: 100%;
}

/* USER STYLES */
/* HEADER */
.section-header .section-header__line {
	display: flex;
	align-items: center;
	margin-bottom: 60px;
}

/* MENU */

.menu {
	list-style-type: none;
}
.menu .menu__item {
	display: inline-block;
}
.menu .menu__item:not(:last-child) {
	margin-right: 35px;
}

/* CALLBACK */

.callback {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}
.callback .callback__phone {
	font-family: var(--headingfont);
	font-weight: 500;
	font-size: 1.5rem;
	color: var(--heading);
}
.callback .callback__phone:hover {
	color: var(--accent);
}
.callback .callback__text {
	color: var(--accent-text);
	position: relative;
}
.callback .callback__text::after {
	content: '';
	display: block;
	background-color: var(--accent-text);
	position: absolute;
	width: 0;
	height: 1px;
	/*opacity: 0;*/
}
.callback .callback__text:hover::after {	
	/*opacity: 1;*/
	width: 100%;
}

/* SOCIAL ICONS */

.section__soc {
	height: 100%;
	display: flex;
}
.section__soc .section__soc-items {
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.section__soc .section__soc-items .soc-item:hover {
	transform: scale(1.1);
}
.section__soc .section__soc-items .soc-item:not(:last-child) {
	margin-bottom: 25px;
}

/* SLIDER */

.furni-bg {
	height: 825px;
	margin-left: 15px;
}
.furni-bg .furni-bg__slide {
	position: relative;
}
.furni-bg .furni-bg__slide .furni-bg__img {
	width: 590px;
	height: 100%;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.furni-text {
	display: flex;
	flex-direction: column;
	position: relative;
	top: 85px;
	right: calc(8.33333333% * 2 + var(--bs-gutter-x) * 2);
	height: 790px;
}
.furni-text .furni-text__slide {
	display: flex;
	flex-direction: column;
}
.furni-text .furni-text__slide .furni-text__content {
	padding: 60px 55px;
	background-color: #fff;
	margin-bottom: 65px;
}
.furni-text .furni-text__slide .furni-text__content .heading {
	font-weight: 400;
	font-size: 3.5rem;
}
.furni-text .furni-text__slide .furni-text__content .desc {
	font-size: 1.25rem;
	width: 80%;
}
.furni-text .furni-text__slide .furni-text__button {
	align-self: flex-end;
}
.furni-bg__nav {
	display: flex;
	flex: 0 0 100px;
	width: 200px;
	position: relative;
}
.furni-bg__nav > div {
	width: 100px;
	height: 100px;
	position: relative;
	left: 0;
	top: 0;
	background-color: #fff;
}
.furni-bg__nav .prev::after, .furni-bg__nav .next::after {
	content: '';
	height: 16px;
	width: 46px;
	background-color: var(--accent);
}
.furni-bg__nav .prev::after {
	-webkit-mask-image: url(../img/arrow-left.svg);
	mask-image: url(../img/arrow-left.svg);
}
.furni-bg__nav .next::after {
	-webkit-mask-image: url(../img/arrow-right.svg);
	mask-image: url(../img/arrow-right.svg);
}
.furni-bg__nav .prev:hover::after, .furni-bg__nav .next:hover::after {
	background-color: var(--heading);
}

/* SECTION ADVANTAGES */

.section-advantages__about {
	margin-bottom: 65px;
}
.section-advantages__about .heading {
	font-size: 2.75rem;
}
.section-advantages__item {
	display: flex;
	flex-direction: column;
	padding-right: 90px;
}
.section-advantages__item .section-advanatges__heading {
	display: flex;
	align-items: center;
	margin-bottom: 20px;
}
.section-advantages__item .section-advanatges__heading img {
	margin-right: 25px;
}
.section-advantages__item .section-advanatges__heading .heading {
	font-size: 1.5rem;
	line-height: 1.5;
	font-weight: 600;
	margin: 0;
}

/* ORDER */

.section-heading {
	font-size: 45px;
}
.order__heading {
	margin-bottom: 40px;
}
.order__item .item__number {
	font-family: var(--headingfont);
	font-weight: 600;
	font-size: 1.5rem;
	color: var(--accent-text);
	font-feature-settings: 'pnum' on, 'lnum' on;
	margin-bottom: 15px;
}
.order__item .item__heading {
	font-size: 1.5rem;
	font-weight: 600;
}
.order__item .item__text {
	margin-bottom: 65px;
}
.order__item .item__text a {
	display: inline-block;
	color: var(--accent-text);
	position: relative;
}
.order__item .item__text a::after {
	content: '';
	display: block;
	position: absolute;
	left: 0;
	height: 1px;
	width: 0%;
	background-color: var(--accent-text);
}
.order__item .item__text a:hover::after {
	width: 100%;
}
.form {
	display: flex;
	flex-direction: row;
	width: 100%;
}
.form .form__item {
	position: relative;
}
.form .form__item .form__input {
	width: 260px;
	height: 86px;
	margin-right: 40px;
	padding-bottom: 10px;
	border-width: 0 0 2px 0px;
	border-color: var(--accent);
	background-color: #f9f9f9;
	text-transform: uppercase;
	font-family: var(--headingfont);
	font-weight: 500;
	font-size: 18px;
	letter-spacing: 2px;
	font-feature-settings: 'pnum' on, 'lnum' on;
}
.form .form__item .form__input::placeholder {
	color: var(--gray);
}
.form .form__item .form__privacy {
	color: var(--gray);
	font-size: 13px;
	margin: 15px 0 0;
	line-height: 1.6;
}
.form .form__item .form__privacy a {
	color: var(--accent-text);
	position: relative;
}
.form .form__item .form__privacy a::after {
	content: '';
	display: block;
	position: absolute;
	left: 0;
	height: 1px;
	width: 0%;
	background-color: var(--accent-text);
}
.form .form__item .form__privacy a:hover::after {
	width: 100%;
}

/* WHY SECTION */

.section.why {
	background-image: url(../img/why-bg.jpg);
	background-size: contain;
	background-repeat: no-repeat;
	max-height: 863px;
}
.why .why__content {
	background-color: #f9f9f9;
	padding: 60px 55px;
	margin: 165px 22px 189px;
}
.why .why__content .why__text + .why__text {
	margin: 0;
}

/* TESTIMONIALS */

.testimonials__slide {
	height: auto;
}

.testimonials__nav {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-end;
	position: relative;
	height: 30px;
	margin-top: 40px;
}
.testimonials__nav > div {
	top: 0;
	bottom: 0;
	left: auto;
	right: auto;
	margin: 0;
	position: relative;
	height: 100%;
	width: auto;
}
.testimonials__nav .pagination {
	display: flex;
	align-items: center;
	width: auto;
	inset: 0;
	margin: 0 15px;
}

.testimonials__nav .pagination .swiper-pagination-bullet:hover {
	background-color: var(--swiper-theme-color);
	opacity: 1;
}
.next::after, .prev::after {
	content: '';
	height: 100%;
	width: 45px;
	background-color: var(--swiper-theme-color);
	-webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
	-webkit-mask-position: center;
	mask-position: center;
}
.prev::after {
	-webkit-mask-image: url(../img/arrow-left.svg);
	mask-image: url(../img/arrow-left.svg);
}
.next::after {
	-webkit-mask-image: url(../img/arrow-right.svg);
	mask-image: url(../img/arrow-right.svg);
}

.testimonial {
	height: 100%;
	background-color: #fff;
	padding: 55px;
}
.testimonial__author {
	display: flex;
	flex-direction: row;
	margin-bottom: 30px;
}
.testimonial__author .testimonial__avatar {
	margin-right: 14px;
	width: 60px;
}
.testimonial__author .testimonial__info {
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.testimonial__author .testimonial__info .name {
	margin-bottom: 5px;
}
.testimonial__author .testimonial__info .social-link {
	color: var(--accent-text);
}
.testimonial__text {
	position: relative;
}
.testimonial__text .details-text, .testimonial__text .details-text summary {
	display: block;
}
.testimonial__text .details-text summary {
	list-style: none;
	color: var(--accent-text);
}
.testimonial__text .details-text summary::-webkit-details-marker {
	display: none;
}
.testimonial__text .details-text summary::after {
	content: 'Раскрыть отзыв';
	/*display: block;*/
}
.testimonial__text .details-text[open] {
	display: contents;
}
.testimonial__text .details-text[open]::after {
	content: '\00a0';
	display: block;
}
.testimonial__text .details-text[open] summary {
	position: absolute;
	left: 0;
	bottom: 0;
}
.testimonial__text .details-text[open] summary::after {
	content: 'Скрыть отзыв';
	/*display: block;*/
}

/* QUESTIONS */

.questions__item {
	background-color: #fff;
	margin-bottom: 7px;
}
.questions__item details {
	padding: 45px 55px;
}
.questions__item details summary {
	display: flex;
	align-items: center;
	justify-content: space-between;
	list-style: none;
	font-family: var(--headingfont);
	font-weight: 500;
	font-size: 1.5rem;
}
.questions__item details summary::after {
	content: '';
	flex: 0 0 40px;
	height: 40px;
	background-image: url(../img/cross.svg);
	background-repeat: no-repeat;
	background-position: center;
}
.questions__item details[open] summary::after {
	transform: rotate(45deg);
}
.questions__item details p {
	margin: 20px 0 0;
}